<div class="row">

    <div class="col-lg-6">
        <h5>Items</h5>
    </div>
    <div class="col-lg-6">
        <h5>Quantity</h5>
    </div>

</div>

<div class="row" *ngFor="let item of items;let i=index">
    <div class="col">
        <label>{{item.name}}</label>
    </div>

    <div class="col">
        <input type="text" class="form-control" [(ngModel)]="items[i].quantity" name="{{item}}" placeholder="0">
    </div>
</div>


<div class="row m-2">

    <div class="col-lg-6"></div>
    <div class="col-lg-6"> <button type="submit" (click)="placeOrder()">Place order</button> </div>

</div>